@font-face {
  font-family: 'Iceland';
  src: url('Iceland-Regular.ttf')  format('truetype')
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
  background-color: black;
  color: white;
  height: 100vh;
  width: 100vw;
  font-family: 'Iceland', cursive;
}

.partials-container {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100%;
}

.partial {
  text-align: center;  
}

.partial .value {
  font-size: 10vw;
}

.partial .name {
  opacity: 0.5;
  font-size: 3vw;
  text-transform: uppercase;
}

.partial + .partial {
  margin-left: 100px;
}

@media (max-width: 480px) {
  .partial .value {
    font-size: 32px;
  }
  
  .partial .name {
    font-size: 8px;
  }
  
  .partial + .partial {
    margin-left: 20px;
  }
}
